<br><br><br><br><br>

<div class="jumbotron">
  <h2>Appointment for Dr. <%=@visit.user.name%></h2>

  <h3>Queue Number: <%= @visits.index(@visit) + 1 %></h3>
  <p><%= @visit.name %></p>

  <p>Estimated time to wait: <%= @wait_time %> minutes</p>
</div>
