<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/profile2.png" width="240px" alt="">
                <div class="intro-text">
                    <span class="name">QManager</span>
                    <hr class="star-light">
                    <span class="skills">Saving you time in line</span>
                </div>
                <br>
                <div>
                    <a href=<%= new_visit_path %> class="btn btn-large btn-primary" role="button"><i class="fa fa-plus-square-o"></i> Create new appointment</a>
                    <a href=<%= search_visits_path %> class="btn btn-large btn-info" role="button"><i class="fa fa-search"></i> Find your appointment</a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- <div class="container">
  
    <br><br><br>
  
    <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Our Team</h3></div>
            <div class="panel-body">The founder of QManager are Jack O'Rourke and Asad Khan. We came up with the idea for QManager as a project for a coding course called iXperience in Cape Town, South Africa.<br><br><br><br><br><br>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
            <div class="panel-heading"><h3>The Problem</h3></div>
            <div class="panel-body">After spending  time visiting the townships of Mandela Park and Khayelitsha outside of Cape Town, we noticed that there was a problem with waiting time at hospitals and clinics. The health care system's organization was inadequate to deal with the high demand for health services. Patients are forced to wait in line for hours on end before even being seen.
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
            <div class="panel-heading"><h3>Our Solution</h3></div>
            <div class="panel-body">To solve this challenge, we envisioned an online queueing system to improve the efficiency of these underdeveloped health care providers. What you see here is our first design iteration for this queueing system. It is the minimum viable product that demnostrates the power of our solution.<br><br><br>
            </div>
          </div>
        </div>
    </div>
</div> -->